@model IEnumerable<E_TicaretMVC.Models.OzellikTip>
<div class="form-group has-success">
    <label class="col-lg-2 control-label">Özellik Tip</label>
    <div class="col-lg-10">
        <select class="form-control m-bot15" name="OzellikTipID">
            @foreach (var tip in Model)
            {
                <option value="@tip.OzellikTipID">@tip.Adi</option>
            }
        </select>
    </div>
</div>