@model IEnumerable<E_TicaretMVC.Models.Kategori>



<li class="w3pages">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kategoriler <span class="caret"></span></a>
    <ul class="dropdown-menu">
        @foreach (var item in Model)
        {

            <li><a href="/Home/Urunler/@item.KategoriID">@item.Adi</a></li>
            
        }
        
    </ul>
</li>
